# Q1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module..

In [9]:
import pandas as pd

In [10]:
data = pd.Series([4,5,2,3,3])
print(data)

0    4
1    5
2    2
3    3
4    3
dtype: int64

# Q2.Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [11]:
print(type(data))

<class 'pandas.core.series.Series'>

In [12]:
print(data.tolist())

[4, 5, 2, 3, 3]

# Q3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Go to the editor Sample Series

In [16]:
ds1 = pd.Series([6,5,6,2,3,4])
ds2 = pd.Series([8,9,7,5,6,3])
print(ds1 + ds2)
print("\n")
print(ds1 - ds2)
print("\n")
print(ds1*ds2)
print("\n")
print(ds1/ds2)
print("\n")

0    14
1    14
2    13
3     7
4     9
5     7
dtype: int64


0   -2
1   -4
2   -1
3   -3
4   -3
5    1
dtype: int64


0    48
1    45
2    42
3    10
4    18
5    12
dtype: int64


0    0.750000
1    0.555556
2    0.857143
3    0.400000
4    0.500000
5    1.333333
dtype: float64