In [1]:
'''you are managing your finances using python:
complete the tasks mentioned in the comments. and then print the amount left in your bank.
Note that this code uses scientific notation to define large numbers. 1.2e6 is equal to 1.2 * 10 ** 6 which is equal to 1200000.
amt=1.2e5'''
# the amount of money in your bank account is 1.2e5
amt = 1.2e6

# money recieved every year in form of salary
salary = 9.3e5

# decrease the salary by 30% as tax paied to the government.
salary -= (30/100)*salary

# Add the salary to the bank account amt variable
amt += salary

# increase the amt by 4% that you recieved from the bank as intrest
amt += (4/100)*amt

# substract 1.2e5 from amt as the rent paied
amt -=1.2e5

# print the new value of the amt variable
print(amt)

1805040.0

In [1]:
def sum(a,b):
    return a+b

sum(6,8)

14

In [8]:
def mul(a,b,c):
    res=a*b*c
    print('The multiplication is:',res)
    
mul(5,6,9)

The multiplication is: 270

In [27]:
# try exception handling
print('Enter the number 1')
num1=(input())
print('Enter the number 2')
num2=(input())

try:
    sum=int(num1)+int(num2)
    print(sum)
except Exception as e:
    print(e)

Enter the number 1
5
Enter the number 2
p
invalid literal for int() with base 10: 'p'

In [1]:
#function with one argument
def argument(a):
    print("value of a :",a)
    
argument(10)

value of a : 10

In [9]:
#function with multiple argument
def myfunction(a,b):
    print("A:B =",a,":",b)
myfunction('python',1)

A:B = python : 1

In [12]:
# Keywords argument
def myfunction(child3,child2,child1):
    print("Youngest child is :"+child1)
    
myfunction(child2='Ritesh',child3='Ram',child1='Geeta')

Youngest child is :Geeta

In [13]:
#default parameter value
def myfun(state='Ranmala'):
    print("I am from :"+state)
    
myfun() # at empty space it used the default value of state
myfun('Gujrat')

I am from :Ranmala
I am from :Gujrat

In [19]:
# passing list into the function
def myfun(fruit):
    for i in fruit:
        print(i)
f=['Apple','Banana','Cherry'] 
myfun(f)

Apple
Banana
Cherry

In [20]:
# return value from function
def myfun(x):
    return(5*6)

myfun(6)

30

# Recursion function

In [21]:
def factorial(x):
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))
num = int(input("Num : "))
print("The factorial of ",num,"is",factorial(num))

Num : 6
The factorial of  6 is 720

# Lambda or anonymous function
The function which has no name

In [23]:
x = lambda a:a+10
print(x(5))

y = lambda a,b,c:a*(b+c)
print(y(5,2,3))

15
25

# Global variable
global variable means the variable can be use anywhere in the program

In [26]:
z = 25 # global variable
def myfun():
    global z
    print(z)
    z=20
    
myfun() 
print(z)

25
20

# Local variable
The variable which can be used in it scope

In [29]:
def sum(x,y):
    sum=x+y
    return sum
print(sum(5,10))

print(x) # x is local variable here for sum function it use only for sum funcion

15
<function <lambda> at 0x00000196398C4EE0>

# Random module in python

In [30]:
import random

In [33]:
from random import choice
l1=[1,2,3,4,5]
print(choice(l1)) # it choose anyone number from l1

2

In [35]:
from random import randint
otp = randint(10000,999999)
print("Your OTP:",otp)

Your OTP: 143946

In [53]:
from random import shuffle
from random import uniform

In [54]:
l2=['Apple','Banana',"Mango"]
shuffle(l2)
print(l2)
random.uniform(3,4)

['Mango', 'Banana', 'Apple']

3.0294611582442865

In [61]:
from random import getstate
# remember this state
state = random.getstate()
 
# print 10 random numbers
print(random.sample(range(20), k = 10)) # it print 10 numbers between 1-20
 
# restore state
random.setstate(state)
 
# print same first 5 random numbers
# as above
print(random.sample(range(20), k = 5))

[17, 8, 2, 0, 1, 9, 10, 18, 7, 12]
[17, 8, 2, 0, 1]

# Wesite for random module
https://docs.python.org/3/library/random.html

# Math module

In [43]:
import math
from math import factorial

In [45]:
print(math.factorial(5))

120

In [49]:
# ceil() it gives round off of number
print(math.ceil(1.4))

2

In [50]:
# floor()
print(math.floor(0.2))
print(math.floor(5.2))

0
5

In [51]:
# sqrt
print(math.sqrt(4))

2.0

In [55]:
from math import fabs

In [57]:
math.fabs(5)

5.0

# Website for math module functon
https://docs.python.org/3/library/math.html

# object oriented concept in python

In [1]:
# how to create the class
class myclass:
    x=5
    
print(myclass)

<class '__main__.myclass'>

for accessing the value of x i.e. the property of class we need to create an object

In [4]:
# How to create an object ?

class myclass:
    x=5 # property of class
    y=6
    
m1=myclass() # m1 is an object of class myclass
print(m1.x)
print(m1.y)

5
6

In [8]:
# calling a function by object

class myclass:
    def myfun(self): # self is required in parameter unless compiler give an error
        return 5*9
m1=myclass()
m1.myfun()

45

In [9]:
# How to create constuctor

class myclass:
    def __init__(self):
        print(5*9)
m1=myclass()

45

In [24]:
# change the value by objects
class myclass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
m1=myclass("pooja",21)
print(m1.age)
print(m1.name)

21
pooja

In [25]:
# changing the age using object
m1.age=23
print(m1.age)

23

In [26]:
# delete the object
del m1.age
#print(m1.age)