In [1]:
student=("Rahul","Arya","Kartik","seema",2,6,5,11)

if "Rahul" in student:
    print("Yes.He is a student")
else:
    print("Invalid name")

Yes.He is a student

In [2]:

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [3]:
for i in range(2,12,1):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [4]:
for i in range(4):
    print(i)

0
1
2
3

In [5]:
for i in range(2,10):
    if i%2!=0:
        continue
    print(i)

2
4
6
8

In [6]:
cities=["pune","new york","chicago","los angeles"]
capitalized_cities=[]

for i in cities:
    capitalized_cities.append(i)
print(capitalized_cities)

['pune', 'new york', 'chicago', 'los angeles']

In [7]:
cities=["Pune","New York","chicago","los angeles"]
capitalized_cities=[]

for i in cities:
    capitalized_cities.append(i.title())
print(capitalized_cities)

['Pune', 'New York', 'Chicago', 'Los Angeles']

In [8]:
# Write a for loop using range() to print out multiples of 5 up to 30 inclusive

for i in range(5,30,5):
    print(i)

5
10
15
20
25

In [9]:
''''Write a for loop that iterates over the names list to create a usernames list.
To create a username for each name, make everything lowercase and
replace spaces with underscores. Running your for loop over the list:'''

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames=[]
    
for i in names:
    usernames.append(i.lower().replace(" ","_"))
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [10]:
#Write a for loop that iterates over a list of strings, tokens, and counts how many of them are XML tags.
tokens = ['<greeting>', 'Hello World!', '</greeting>','<Welcome>']

count=0
for i in tokens:
    if i[0] == '<' and i[-1] == '>':
        count += 1
    
print(count)

3

In [11]:
'''Write some code, including a for loop, that iterates over a list of strings and creates a
single string, html_str, which is an HTML list. For example, if the list is 
items = ['first string', 'second string'], printing html_str should output:
<ul>
<li>first string</li>
<li>second string</li>
</ul>'''

items = ['first string', 'second string']
html_str='<ul>\n'

for i in items:
    html_str+='<li>{}</li>\n'.format(i)
    
html_str+='</ul>'

print(html_str)

<ul>
<li>first string</li>
<li>second string</li>
</ul>

In [12]:
cast = {
           "Joey Tribbiani": "Joey Tribbiani",
           "Monica Geller": "Chandler Bing",
           "Phoebe Buffay": "Mike Hannigan",
           "Ross Geller": "Rachel Green"
       }


for key in cast:
    print(key)

Joey Tribbiani
Monica Geller
Phoebe Buffay
Ross Geller

In [13]:
for key,value in cast.items():
    print('partner 1 : {}  partner 2 : {}'.format(key,value))

partner 1 : Joey Tribbiani  partner 2 : Joey Tribbiani
partner 1 : Monica Geller  partner 2 : Chandler Bing
partner 1 : Phoebe Buffay  partner 2 : Mike Hannigan
partner 1 : Ross Geller  partner 2 : Rachel Green

In [14]:
students={'Rahul':11,"Riya":12,"Arnab":13}
for key in students:
    print(key)

Rahul
Riya
Arnab

In [15]:
for key,value in students.items():
    print("Name : {}  Roll No : {}".format(key,value))

Name : Rahul  Roll No : 11
Name : Riya  Roll No : 12
Name : Arnab  Roll No : 13

In [16]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for i,j in basket_items.items():
    if i in fruits:
        result +=j

print("There are {} fruits in the basket.".format(result))

There are 23 fruits in the basket.

In [17]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [18]:
a=2
b=6

print("a is greater") if a>b else print("b is greater")

b is greater

In [19]:
if a<b:
    pass

In [20]:
#take values of length and breadth of a rectangle from user and check if it is square or not
print("Enter the length of rectangle")
length=int(input())
print("Enter the breadth of rectangle")
breadth=int(input())

if length == breadth:
    print("Yes,it is square")
else:
    print("no,it is not square,it is only rectangle")

Enter the length of rectangle
6
Enter the breadth of rectangle
5
no,it is not square,it is only rectangle

In [21]:
print("Enter the number")
num=int(input())

if(num<0):
    print(num*-1)
else:
    print(num)

Enter the number
5
5

In [22]:
# allow student to sit if he/she has medical cause.ask user if he/she has medical cuase or not("Y" or "N") and print accordingly
medical_cause=(input("If you have medical cause say 'Y' or if not then say 'N'\n"))

if medical_cause == "Y":
    print("you are allowed")
else:
    age=int(input("Enter your age\n"))
    if age >= 75:
        print("allowed")
    else:
        print("not allowed")

If you have medical cause say 'Y' or if not then say 'N'
N
Enter your age
56
not allowed

In [23]:
'''design a calculator which will correctly solve all the problems except the following ones :
45 * 3=555,56*9=77,56/6=4 
your program should take operstor and the two number as input from user and then return the result'''

print("Enter first number")
num1=int(input())
print("Enter second number")
num2=int(input())
print("Enter the operator between +,-,/,*")
operator=input()

if(num1 == 45 and num2 == 3 and operator == '*'):
    print("555")
elif(num1 == 56 and num2 == 9 and operator == '*'):
    print("77") 
elif(num1 == 56 and num2 == 6 and operator == '/'):
    print("4")

Enter first number
5
Enter second number
6
Enter the operator between +,-,/,*
-

In [24]:
list=[['c',3],['a',1],['b',3]]

for i in list:
    print(i)
    
for i,j in list:
    print(i,"in position",j)
    
for i,j in list:
    print(j)

['c', 3]
['a', 1]
['b', 3]
c in position 3
a in position 1
b in position 3
3
1
3

In [25]:
dict1=dict(list) # convert the list into dictionary
 
for i in dict1:
    print(i)

c
a
b

In [26]:
items=(int,float,'harry','kavery',5,6,2,56,45)

for i in items:
    if str(i).isnumeric() and i>=2:
        print(i)

5
6
2
56
45

In [27]:
state = "CA"
purchase_amount = 20

if (state == "CA"):#provide conditional for checking state is CA
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif (state == "MN"): #provide conditional for checking state is MN
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif (state == "NY"): #provide conditional for checking state is NY
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)
    prints(result)

In [28]:
marks = 60
if marks >=50 and marks <=60:
    print("Grade A")
else:
    print('study hard')

Grade A

In [29]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [30]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [35]:
age=int(input("Enter your age :"))
limit=18
name=input("Your name please:")

if(age > limit):
    print("ok,please wait a minute",name)
    if(type(name)==str):
        print("you may go now")
    else:
        print("You are putting the wrong name")
else:
    print("You enter the name which is not equal to limit")

Enter your age :85
Your name please:Radhika
ok,please wait a minute Radhika
you may go now

In [38]:
sum=0
n=int(input("Enter the value of N:"))

while(n>0):
    sum+=n
    n-=1
    print("sum : ",sum)
else:
    print("Loop end")
print("Bye")

Enter the value of N:5
sum :  5
sum :  9
sum :  12
sum :  14
sum :  15
Loop end
Bye

In [46]:
# print *

for i in range(1,9):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********

In [49]:
for i in range(9,1,-1):
    for j in range(i):
        print("*",end="")
    print()

*********
********
*******
******
*****
****
***
**