In [1]:
d1=(2,"pooja")
d1

(2, 'pooja')

In [2]:
type(d1)

tuple

In [3]:
# escape sequences 

print("whta\'s your name") 

print("Hey,whats up?")

#print("Unescaped backslashes at the end of string give an error\")

print("Hi i am pooja \a")

whta's your name
Hey,whats up?
Hi i am pooja 

In [4]:
n1=input()
n2=input()
print("The sum of two numbers is",int(n1)+int(n2))

5
6
The sum of two numbers is 11

In [5]:
# string slicing
my_string = "i have done BSc in mathematics"
print(len(my_string))
print(my_string[::])
print(my_string[0:15])
print(my_string[0:30:3])# start:stop:step
print(my_string[:])
print(my_string[:15])
print(my_string[0:55]) # it print the characters upto string length and ignore the index no after its length
print(my_string[::2])
print(my_string[0::5559])
print(my_string[-12:])
print(my_string[-1::-1])# it gives me whole string in reverse
print(my_string[-1:])

30
i have done BSc in mathematics
i have done BSc
ia nB  tmi
i have done BSc in mathematics
i have done BSc
i have done BSc in mathematics
ihv oeBci ahmtc
i
 mathematics
scitamehtam ni cSB enod evah i
s

In [6]:
print(my_string.isalnum())

False

In [7]:
string = "ihavedoneBScinmathematic" # after removing the spaces it gives value true
print(my_string.isalnum())

False

In [8]:
string2="Welcome home"
print(string2.endswith("home"))

True

In [9]:
string2.count('o')

2

In [10]:
string2.capitalize()

'Welcome home'

In [11]:
string2.find('m')

5

In [12]:
string2.replace('home','new home')

'Welcome new home'

# list in python

In [14]:
student=["rohan","radhika",5,"anamika",56]
print(student)
print(student[3])

['rohan', 'radhika', 5, 'anamika', 56]
anamika

In [14]:
l1=['A','B','C']
l2=[1,2,3]
l1.extend(l2)
print(l1)
l2.insert(1,5) # here 1 is index position
print(l2)
l1.remove('C') # remove item using del and pop methods also
print(l1)
l1.clear() # to clear list
print(l1)

['A', 'B', 'C', 1, 2, 3]
[1, 5, 2, 3]
['A', 'B', 1, 2, 3]
[]

In [15]:
marks=[2, 7, 9, 11, 3]
marks.sort() #print(mark.sort()) is not working gives none value
print(marks)

mark=[4,85,65,9.1]
mark.reverse() #print(mark.reverse()) is not working gives none value
print(mark)

[2, 3, 7, 9, 11]
[9.1, 65, 85, 4]

In [16]:
print(marks[:])

[2, 3, 7, 9, 11]

In [17]:
print(marks[1:5:2])
print(min(marks))
marks.append(5) # deu to runing command again again it adds 5 for 5 times
print(marks)
marks.pop()
print(marks)

[3, 9]
2
[2, 3, 7, 9, 11, 5]
[2, 3, 7, 9, 11]

In [18]:
# marks[5]=9
print(marks)

[2, 3, 7, 9, 11]

# Tuple in Python

In [28]:
t1=(5,5,6,9) # we cant change tuple hence tuple is immutable
print(t1)

(5, 5, 6, 9)

In [33]:
print(len(t1))

# Accessing the value by using index
print(t1[1:6])
print(t1[-4:])

#convert tuple into list
x=list(t1)
print(x)
x[3]=3
print(x)
print(type(x))

4
(5, 6, 9)
(5, 5, 6, 9)
[5, 5, 6, 9]
[5, 5, 6, 3]
<class 'list'>

# loops with tuple

In [36]:
for i in x:
    print(i)

5
5
6
3

In [38]:
# while loop
print(x)
i=0

while i<len(x):
    print(x[i])
    i+=1
else:
    print("finish loop")

[5, 5, 6, 3]
5
5
6
3
finish loop

In [40]:
# How to compare tuples
t1=(1,2,3)
t2=(2,3,5)

print(t1==t2)
print(t1<t2)

False
True

In [20]:
#dictionary :-nothing but key value pair
d1={'rahul':4,'rohit':5,'marks':{'rohit':89,'rahul':80}}
print(d1)
print(d1['rahul'])
print(d1['marks']['rahul'])
d1['radhika']=6
print(d1)
d1['marks']['radhika']=60
print(d1)

{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80}}
4
80
{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80}, 'radhika': 6}
{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [21]:
del d1['rahul']
print(d1)

{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [22]:
d2 = d1.copy()
#del d2['marks']['radhika']
print(d2)
print(d1)

{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}
{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [23]:
d2.update({'rohit':7})
print(d2)

{'rohit': 7, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [24]:
print(d2.keys())
print(d2.items())
print(d2.values())

dict_keys(['rohit', 'marks', 'radhika'])
dict_items([('rohit', 7), ('marks', {'rohit': 89, 'rahul': 80, 'radhika': 60}), ('radhika', 6)])
dict_values([7, {'rohit': 89, 'rahul': 80, 'radhika': 60}, 6])

In [26]:
#create the dictionary and take input from the user and return the meaning of the word from the dictionary
d1={'rahul':4,'rohit':5,'marks':{'rohit':89,'rahul':80}}
name=input("Enter the name:")
print(d1[name])

Enter the name:rohit
5

In [27]:
# set in python,it store unique values is the difference between list and set
my_set=set([1,2,5,5,6])
print(my_set)
my_set.add(3)
print(my_set)
s=([2,6,5,8,9]) #list
print(my_set.intersection(s))
print(my_set.union(s))
print(max(s))

{1, 2, 5, 6}
{1, 2, 3, 5, 6}
{2, 5, 6}
{1, 2, 3, 5, 6, 8, 9}
9

In [28]:
print(my_set.isdisjoint(s))
s=set([2,6,5,8,9])
print(s.isdisjoint(my_set))
#my_set.remove(5)

#my_set.remove(9)
print(my_set)

False
False
{1, 2, 3, 5, 6}

In [29]:
#add 7+2 below
x=7+2
print(x)
#subtract 2 from 7 below
print(7-2)
#multiply 5 and 6 below
print(5*6)
#divide 7 by 2 below
print(7/2)
#remainder when 7 divide by 2
print(7%2)
#divide 7 by 2 nd round to the nearest integer
print(round(7/2))
print(int(7/2))
print(7//2)
#7 raise to the power 2 below
print(7**2)

9
5
30
3.5
1
4
3
3
49

In [30]:
#use of round
print(round(25/4,2))

6.25

In [31]:
'''you're going to do some calculations for your bills. Your net expenditure for the past 5 months
has been 1200, 2000, 800, 1500 and 1700. What is your average monthly expenditure.'''

expenditure=1200+2000+800+1500+1700
Average=(expenditure)/5
print(Average)

1440.0

In [32]:
'''Two rooms in a house needs to be filled. One room is 4 ft wide by 11 ft 
long, the other is 5 ft wide by 9 ft long. Tiles come in packages of 7 and each tile is 1ftx1ft in size

1) How many tiles are needed?
2) You buy 17 packages each containing 6 tiles each. How many tiles will be left over?  '''

Area_r1=4*11
Area_r2=5*9
Tiles_req=(Area_r1+Area_r2)

print("Needed Tiles are",Tiles_req)
left_tiles=(17*6) - Tiles_req
print("The tiles left are",left_tiles)

Needed Tiles are 89
The tiles left are 13

In [36]:
c = 4 + 8j
print(type(c))

d = 6 + 5j
print("Addition of c+d :",c+d)

<class 'complex'>
Addition of c+d : (10+13j)

In [43]:
l1=[1,4,5,6]
l2=[1,4,5,6]
l3=l1
print(l1 is l2)
print(l1 is l3) # identity operator

print(1 in l1) # membership operator

False
True
True

# Module - 1 Assignment

In [47]:
# write a program to print a string "Hello Python"
a="Hello Python"
print(a)
#write a program to store one value in variable and print that variable
b=45
print(b)
# write a program to take value from user input and print that value
c=input("Enter the value :")
print(c)
# write a program to do a sum of two value
l=int(input("Enter the value 1:"))
m=int(input("Enter the value 2:"))
print("The sum of l and m is ",l+m)

Hello Python
45
Enter the value :5
5
Enter the value 1:5
Enter the value 2:6
The sum of l and m is  11

In [50]:
#write a program to perform division using variables
l1=int(input("Enter the value 1:"))
m1=int(input("Enter the value 2:"))
print("The sum of l1 and m1 is ",l1/m1)
# write a program to take two integer value from the user and check both the values are same
print(l1==m1)

Enter the value 1:5
Enter the value 2:5
The sum of l1 and m1 is  1.0
True

In [5]:
a = "Hello World"
print(a.casefold()) # use to make uppercase lowercase
print(a)
print(a.center(20))

hello world
Hello World
    Hello World

# Dictionary in python

we store two repeated value but they having different key values.
keys are immutable.and value could be immutable or muttable or both which depends upon what value you are storing.

In [1]:
dict={1:"Apple",2:"Mango",3:"Apple"}
print(dict)

{1: 'Apple', 2: 'Mango', 3: 'Apple'}

In [36]:
# List into dictionary also store tuple into dictionary
d1={1:"Apple",2:"Mango","fruit":["Apple","Mango"]}
print(d1)
print(d1["fruit"])
print(d1.get(2))

# Access the value using item()
d=d1.items()
print(d)

{1: 'Apple', 2: 'Mango', 'fruit': ['Apple', 'Mango']}
['Apple', 'Mango']
Mango
dict_items([(1, 'Apple'), (2, 'Mango'), ('fruit', ['Apple', 'Mango'])])

In [37]:
# Change the value
d1["fruit"][1]="orenge"
print(d1)

{1: 'Apple', 2: 'Mango', 'fruit': ['Apple', 'orenge']}

In [38]:
#using update method
d1.update({2:"kivi"})
d1.update({"fruit":"kivi"})
print(d1)

{1: 'Apple', 2: 'kivi', 'fruit': 'kivi'}

In [39]:
d1.pop(2) 
print(d1)

{1: 'Apple', 'fruit': 'kivi'}

In [40]:
d1.popitem()# it remove last value from list
d1

{1: 'Apple'}

In [50]:
d1={1:"A",2:"B",3:"c"}
print(d1.values())
print(d1.keys)

dict_values(['A', 'B', 'c'])
<built-in method keys of dict object at 0x000001A6F55D9F40>