In [1]:
students=['sam','pam','rocky']
print(len(students))
student='barry'
print(len(student))
print(max(students))
print(min(students))
print(max(student))
print(min(student))

3
5
sam
pam
y
a

In [3]:
print(sorted(students))

['pam', 'rocky', 'sam']

In [13]:
#join in python
join = "-".join(["sam","pam","ram"])
print(join)

sam-pam-ram

In [15]:
name = "-".join(students)
print(name)

sam-pam-rocky

In [18]:
#joining of two list
game=['hocky','cricket','football']
player=['sachin','rohit','anand']
print(game+player)

['hocky', 'cricket', 'football', 'sachin', 'rohit', 'anand']

In [3]:
#tuples
student=("Rahul","pune","Football",400/500)
print(student)

('Rahul', 'pune', 'Football', 0.8)

In [6]:
tuple=(23,"Rajesh",23.0,2+5j)
tuple

(23, 'Rajesh', 23.0, (2+5j))

In [14]:
#list using set
numbers=[1,2,3,4,5,5,6,2,3]
uniq_numbers=set(numbers)
print(uniq_numbers)

{1, 2, 3, 4, 5, 6}

In [21]:
#set
numbers={1,2,3,4,5,5,6,2,3}
numbers.add(7)
print(numbers)
numbers.pop()
print(numbers)
numbers.pop()
print(numbers)
numbers.add(7)
print(numbers)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [24]:
fruit = {"apple", "banana", "orange", "grapefruit"}
print("watermelon" in fruit)

print("apple" in fruit)

print("banana" not in fruit)

False
True
False

In [22]:
#dictionary in python

students={"Rahul":1,"Yavir":2,"Gitidha":3}
print(students)

print(students["Rahul"])

students["Arvind"]=4
print(students)

print(students.get("Rahul"))
print(students.get("Reena"))

print(students is None)
print(students is not None)

{'Rahul': 1, 'Yavir': 2, 'Gitidha': 3}
1
{'Rahul': 1, 'Yavir': 2, 'Gitidha': 3, 'Arvind': 4}
1
None
False
True

In [23]:
students={"Rahul":1,"Yavir":2,"Gitidha":3}
print(students)

print(students.get("Rahul","There is no such name found"))
print(students.get("Reena","There is no such name found"))

{'Rahul': 1, 'Yavir': 2, 'Gitidha': 3}
1
There is no such name found

In [25]:
students={ "Rahul":{"Roll No":1,
                     "Seat No":25,
                     "Sub":"Math" },
            "Radhika":{"Roll No":2,
                       "Seat No":26,
                        "Sub":"Math"},
             "Atish":{"Roll No":6,
                      "Seat No":28,
                       "Sub":"Math"} 
         }
students

{'Rahul': {'Roll No': 1, 'Seat No': 25, 'Sub': 'Math'},
 'Radhika': {'Roll No': 2, 'Seat No': 26, 'Sub': 'Math'},
 'Atish': {'Roll No': 6, 'Seat No': 28, 'Sub': 'Math'}}

In [30]:
print(students["Atish"])
print(students["Radhika"]["Seat No"])

Adhira={"Roll No":9,"Seat No":29,"Sub":"Math"}
students["Adhira"]=Adhira //"Adhira"=key,Adhira=value
students

{'Roll No': 6, 'Seat No': 28, 'Sub': 'Math'}
26

{'Rahul': {'Roll No': 1, 'Seat No': 25, 'Sub': 'Math'},
 'Radhika': {'Roll No': 2, 'Seat No': 26, 'Sub': 'Math'},
 'Atish': {'Roll No': 6, 'Seat No': 28, 'Sub': 'Math'},
 'Adhira': {'Roll No': 9, 'Seat No': 29, 'Sub': 'Math'}}